@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
}
input,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
input {
  overflow: visible;
}
select {
  text-transform: none;
}
[type="submit"] {
  -webkit-appearance: button;
}
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.button {
  margin-right: 1em;
  margin-left: 1em;
}
.button:first-child {
  margin-right: 0;
  margin-left: 0;
}
.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form--inline .form-item {
  float: left;
  margin-right: 0.5em;
}
.form--inline .form-actions {
  clear: left;
}
ul.menu {
  margin-left: 1em;
  padding: 0;
  list-style: none outside;
  text-align: left;
}
.menu-item {
  margin: 0;
  padding-top: 0.2em;
}
img {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #222;
  font-family: Montserrat;
  color: #b3afbf;
  padding: 24px;
  max-width: 1408px;
  margin: auto;
}
a {
  font-family: Montserrat;
  color: #b3afbf;
}
.menu a {
  font-size: 20px;
}
.card {
  padding: 15px;
  width: 350px;
  background: #222;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  min-height: 435px;
}
.cover-photo {
  margin-top: 20px;
}
.card .profile > * {
  width: 120px;
  border-radius: 50%;
  border: 2px solid #222;
  border: 1px solid #7ce3ff;
  background: #222;
  padding: 5px;
}
.card .profile svg path {
  scale: 1.3;
  transform-origin: center;
}
.profile-name {
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
}
.about {
  margin-top: 30px;
  line-height: 1.6;
}
.btn,
input[type="submit"] {
  margin: 30px 0px;
  background: #7ce3ff;
  padding: 10px 25px;
  border-radius: 3px;
  border: 1px solid #7ce3ff;
  font-weight: bold;
  font-family: Montserrat;
  color: #222;
  display: inline-block;
  text-decoration: none;
}
input[type="submit"] {
  width: 100%;
  max-width: 240px;
  margin-top: 17px;
}
.view-filters input[type="submit"] {
  margin: 0px 0px;
  padding: 5px 25px;
  margin-bottom: 4px;
}
.view-filters .form-actions {
  display: flex;
  gap: 8px;
}
.view-filters .form-actions > * {
  margin-right: 8px;
}
.view-filters .form-item,
.view-filters .form-actions {
  margin-top: auto;
  min-width: 231px;
}
.btn.light {
  background: transparent;
  border-color: #7ce3ff;
  color: #7ce3ff;
}
.about-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.menu--account {
  display: flex;
}
ul.menu {
  display: flex;
  margin-left: auto;
  gap: 20px;
}
.form--inline .form-item {
  float: inherit;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
.view-content {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.form--inline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
select {
  min-height: 40px;
  font-size: 110%;
}
@media screen and (min-width: 768px) {
  body {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media screen and (max-width: 768px) {
  .form--inline {
    flex-direction: column;
    align-content: center;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding-left: 96px;
    padding-right: 96px;
  }
}
.form-item {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  font-size: 20px;
}
.form-item label {
  padding-bottom: 8px;
}
input,
select {
  font-size: 120%;
  line-height: 1.5;
}
.layout-container {
  margin: 0 !important;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}
.modal .btn {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  background-color: lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.region-primary-menu a[href="/"] {
  font-weight: 700;
  color: rgb(229, 231, 235);
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2em;
  text-decoration: none;
}
.clearfix::after {
  display: table;
  clear: both;
  content: "";
}
.hidden {
  display: none;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
.layout--onecol .layout__region {
  width: 100%;
}
